@import "tailwindcss";

@font-face {
  font-family: "line";
  src: url("/fonts/Line.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: line;
  }

  .px-layout {
    padding-left: 20%;
    padding-right: 20%;
  }
}
