@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";

:root {
  --duck-orange: 32 100% 51%;
  --side-padding: 20%;
  --color-title: 222 47% 11%;
  --color-body: 215 16% 47%;
  --text-muted: 215 16% 65%;
}

@theme {
  --color-duck: hsl(var(--duck-orange));
  --spacing-layout: var(--side-padding);
  --color-title: hsl(var(--text-title));
  --color-body: hsl(var(--text-body));
  --color-muted: hsl(var(--text-muted));
}

@layer base {
  html {
    font-family: line;
  }

  .px-layout {
    padding-left: side-padding;
    padding-right: side-padding;
  }
}

@font-face {
  font-family: "line";
  src: url("/fonts/Line.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
